:root {
    --light: rgb(242, 237, 246);
    --main: rgb(146, 55, 202);
    --dark: rgb(33, 30, 35);
    --accent: rgb(255, 229, 113);
}

body {
    background-color: var(--light);
}
 
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
}

.scores a,
.timerClass {
    font-size: 25px;
}
  
.scores a {
    color: var(--main);
}